<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</head>
<body>
    <script defer src="assets/js/app.js"></script>
    <script defer src="assets/js/create-post.js"></script>

    <div class="page">
        

        {{> sidebar }}
        
        <main class="main personal-page">
            <div class="container create-post-container">
                {{> body }}
            </div>
            
        </main>   
        
    </div>
    

    
</body>
</html>
