$black: #000000;
$gray: #c4c4c4;
$dark-gray: #2b2b2b;
$light-gray: #ebebeb;
$white: #fff;

$secondary-white: #f0f0f0;
$z-index-sidebar: 1000;
$z-index-header: 1000;
$z-index-comments: 1000;

$sidebar-width: 75px;
$comments-width: 300px;

$tablet-bp: 991px;
$mobile-bp: 575px;