<aside class="comments">
    <div class="comment-options">
        <nav class="nav">
            <ul class="nav-list">
                <li><button class="btn-comments" type="button">Tree view</button></li>
                <li><button class="btn-comments" type="button">Chat view</button></li>
                <li><button class="btn-comments" type="button">Tags</button></li>
            </ul>
        </nav>
    </div>
    <div class="comment-section --tree-view">
        <div class="comment-item">
            <div class="comment-header">
                <a class="comment-avatar" href="personal-page.html" >                   
                    <img src="assets/images/avatars/default-avatar.svg" alt="">
                      
                </a>
                <div class="after-avatar">
                    <li><a href="personal-page.html" class="nickname">Lexie</a></li>
                    <li><time datetime="2021-04-18 14:26">18:33</time></li>                  
                    
                </div>
                <div class="votes">

                </div>
            </div>
            <div class="comment-text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quasi perferendis possimus, laboriosam voluptate accusamus eligendi rerum laudantium, consequatur, temporibus facilis ut et aspernatur doloremque aliquid ea illum! Corrupti, et?</p>
                <div class="reply">Reply</div>
            </div>
            
        </div> 
        <div class="comment-item">
            <div class="comment-header">
                <a class="comment-avatar" href="personal-page.html" >                   
                    <img src="assets/images/avatars/default-avatar.svg" alt="">
                      
                </a>
                <div class="after-avatar">
                    <li><a href="personal-page.html" class="nickname">Bob</a></li>
                    <li><time datetime="2021-04-18 14:26">21:06</time></li>                  
                    
                </div>
                <div class="votes">

                </div>
            </div>
            <div class="comment-text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quasi perferendis possimus, laboriosam voluptate accusamus eligendi rerum laudantium, consequatur, temporibus facilis ut et aspernatur doloremque aliquid ea illum! Corrupti, et?</p>
                <div class="reply">Reply</div>
            </div>
            
        </div> 
        
        <div class="comment-item">
            <div class="comment-header">
                <a class="comment-avatar" href="personal-page.html" >                   
                    <img src="assets/images/avatars/default-avatar.svg" alt="">
                      
                </a>
                <div class="after-avatar">
                    <li><a href="personal-page.html" class="nickname">Lexie</a></li>
                    <li><time datetime="2021-04-18 14:26">18:33</time></li>                  
                    
                </div>
                <div class="votes">

                </div>
            </div>
            <div class="comment-text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.  et?</p>
                <div class="reply">Reply</div>
            </div>
            
        </div> 
               
    </div>
    <form class="comment" action="/"  method="POST">
        <input type="text" placeholder="Type your comment here...">
        <button class="btn" type="submit">
            <img src="assets/images/icons/send.svg" alt="send" class="send">
        </button>
    </form>
</aside>  