body{
    padding: 0;
    margin: 0;
    position: relative;
}

.sidebar{
    padding: 0;
    margin: 0;
    width: 75px;
    background-color: black;    
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a{
    display: block;
    color: white;
    padding: 0px;
    font-size: 75px;   
    text-align: center;
    text-decoration: none;
}



.sidebar a:hover {
    background-color: #555;    
  }


.article{
    padding: 1px 16px;
    margin-left: 100px;    
}
a{
    color: black;
}
.image{
    display: block;
    margin: 50px 100px 100px 300px;
}