.blog-header {
  width: 70%;
  margin: 5rem 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &_blog-name {
    font-size: 8rem;
    margin-bottom: 3rem;
    line-height: 90%;
  }

  &_author {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    margin-bottom: 2.5rem;

    &-avatar {
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 3rem;
    }
  }
  &_blog-description {
    font-size: 1.8rem;
  }
}

.blog-content {
  background-color: $light-gray;
  padding-top: 3rem;
  &_create-post {
    margin: 5rem 20% 0;

    display: block;

    padding: 0.8rem 0.8rem;

    border: none;
    cursor: pointer;

    font-family: inherit;
    font-size: 1.7rem;

    font-weight: 500;
    color: $white;
    background-color: $black;
    text-decoration: none;

    width: 25rem;
    height: 6rem;
    border-radius: 5px;

    transition: background-color 0.2s linear;

    &:hover {
      background-color: lighten($black, 20%);
    }
  }
  &_upstream {
    width: 65%;
    margin: 5rem 20%;
    padding-bottom: 5rem;
  }
}
