.post-info {
  display: flex;
  justify-content: flex-start;
  font-size: 1.8rem;

  &-item {
    display: flex;
    justify-content: space-between;
    margin: 2rem 1.5rem 2rem 0;
    a {
      margin-left: 0.5rem;
      text-decoration: none;
      color: inherit;
      font-weight: 600;
    }
  }
}

.article-title {
  margin-top: 2rem;
  font-size: 4.5rem;
  font-weight: 600;
}

.article-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  background: $dark-gray;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.article-text {
  font-size: 1.8rem;
  p {
    margin: 1.5rem 0;
  }
}
.article-votes {
  height: 10rem;
  width: 10rem;
  position: fixed;
  top: 45%;
  right: calc(#{$comments-width} + 10rem);
  font-size: 2rem;
}

.report-article {
  margin-top: 10rem;
}

.previous-article,
.next-article {
  position: fixed;
  top: 0;
  opacity: 0;
  height: 100vh;
  width: calc(#{$sidebar-width} + 4rem);
  background-color: $light-gray;
  transition: opacity 0.3s linear;
  &:hover {
    opacity: 100%;
  }
}
.previous-article {
  left: $sidebar-width;
}
.next-article {
  right: $comments-width;
}
.previous-article_arrow {
  width: 0;
  height: 0;
  position: relative;
  top: 45%;
  left: 15%;
  border-style: solid;
  border-width: 4rem 8rem 4rem 0;
  border-color: transparent lighten($black, 20%) transparent transparent;
  //z-index: 1000;
}
.next-article_arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: relative;
  top: 45%;
  left: 15%;
  border-width: 4rem 0 4rem 8rem;
  border-color: transparent transparent transparent lighten($black, 20%);
}
