.hubs_subscriptions-capture, .hubs_other-hubs-capture{
    font-size: 4rem;
    font-weight: 600;
    border-bottom: 3px solid $black;
}
.hubs_subscriptions, .hubs_other-hubs{
    margin-bottom: 8rem;
}
.hub-item, .hub-item_creator, .hub-item_posts{
    display: flex;
}
.hub-item{
    margin: 2rem 0;
    font-size: 1.8rem;
    justify-content: space-between;
    border: 1px solid $black;
    border-radius: 3px;
    box-shadow: 3px 5px 5px rgba($black, .3);
    
    a{
        color:inherit;
        text-decoration: none;
        font-weight: 600;
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
    &_creator{
        width: 30%;
        padding: 2rem 0;
    }

    &_info{
        width: 30%;padding: 2rem 0;
    }
    &_members{
        font-size: 1.5rem;
        color: $dark-gray;
        padding: 2rem 0;    
    }

    &-avatar{
        width: 10%;
        margin-top: 3rem;
        margin-right: 4rem;
        margin-left: 2rem;
        
        padding: 0 0;
        border-radius: 50%;
    }
    
    &_posts{
        width: 30%;
        padding: 2rem 0;
    }
}



