.main {
  padding-left: $sidebar-width;
  padding-top: 4rem;
  padding-right: $comments-width;
  padding-bottom: 10rem;

  &.has-header {
    padding-top: 8rem;
  }

  &.personal-page {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  &.blog {
    //padding-left: calc(#{$sidebar-width} + #{$comments-width});
    padding: 0;
  }
}
