.post {
  display: flex;
  margin-bottom: 3rem;
  padding: 2.5rem;
  box-shadow: 0 2px 4px rgba($black, 0.2);
  background-color: lighten($light-gray, 4%);
  overflow: hidden;

  border-radius: 5px; //!нужно это или нет

  .post-image {
    margin: -5rem 2.5rem -2.5rem -2.5rem;
  }
  .post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2rem;
    padding-bottom: 1.2rem;

    .post-author-info {
      display: flex;
    }
    .author {
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 1.5rem 0 0;
    }
    .author-nickname {
      font-size: 1.5rem;
      font-weight: 400;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
    .post-data {
      font-size: 1.3rem;
      font-weight: normal;
      color: $gray;
      line-height: 1.2;
    }
    /* &::after{
            content: "";
            display: block;
            width: 15rem;
            height: 1px;
            position: relative;
            top: 4rem;
            background-color:$gray;
        }*/
    //TODO
    border-bottom: 1px solid $gray;
  }
  .post-title {
    display: flex;
    align-items: flex-end;
    margin-left: 0;
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
    &.--blog {
      margin-bottom: 3rem;
      font-size: 2rem;
    }
    .post-link {
      width: 60%;
      font-size: 1.8rem;
      font-weight: 600;
      color: inherit;
      text-decoration: none;
    }
    p {
      width: 15%;
      text-align: center;
    }
    .hub-title {
      width: 15%;
      text-align: left;
      color: inherit;
      text-decoration: none;
      font-weight: 600;
    }
  }
  .post-content {
    margin-bottom: 1.3rem;
  }

  .post-text {
    font-size: 1.4rem;
    color: $dark-gray;
  }

  .post-footer {
    display: flex;
    .post-text {
      position: relative;
      padding-right: 3.5rem;
      //margin-right: 2rem;
    }
    .votes {
      padding: 0.8rem;
      position: relative;
      display: inline-block;
      width: 5rem;
      height: 5rem;

      .upvotes,
      .downvotes {
        height: 2rem;
        width: 5rem;
        display: flex;
        justify-content: space-between;
        object-fit: cover;
        i {
          position: relative;
          margin: 1rem 0 0;
        }
      }
    }
  }
}
