@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap");

/* {
	box-sizing: border-box;
}*/

/*body {
  background-color: #9b59b6;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}*/

.header-registration {
  border-bottom: 1px solid #f0f0f0;
  background-color: #f7f7f7;
  padding: 20px 40px;
}

.header-registration h2 {
  margin: 0;
}

.container-registration {
  position: absolute;
  top: 5rem;
  left: 35%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 400px;
  max-width: 100%;
}

.form-registration {
  padding: 30px 40px;
}

.form-control-registration {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control-registration label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control-registration input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.form-control-registration input:focus {
  outline: 0;
  border-color: #777;
}

.form-control-registration.success input {
  border-color: #2ecc71;
}

.form-control-registration.error input {
  border-color: #e74c3c;
}

.form-control-registration i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 10px;
}

.form-control-registration.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control-registration.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control-registration small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control-registration.error small {
  visibility: visible;
}

.form-registration button {
  background-color: $black;
  border: 2px solid $black;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}
