.sidebar{
    width: $sidebar-width;
    height: 100vh;
    background-color: $black;
    position: fixed;
        top: 0;
        left: 0;
        z-index: $z-index-sidebar;
    color:$white;    
    box-shadow: 5px 0 15px rgba(#050505, .1);
}

.sidebar a {
    display: block;
    color: $white;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: "helvetica lt std bold";
    font-weight: bold;
    font-size: 64px;
    text-align: center;

    transition: background-color 0.2s linear;
    &:active{
      background-color: #4CAF50;
      color: $white;
    }
    &:hover:not(.active){
      background-color: #555;
      color: $white;
    }
  }

  

  